<footer class="bg-base-200 text-base-content p-10 mt-auto w-full">
    <div class="footer max-w-screen-2xl mx-auto grid grid-cols-2 md:grid-cols-4 gap-8">
        <aside>
            <p class="text-xl font-bold">PEPE</p>
            <p class="text font-bold">Programa de Entrenamiento con Pacientes Estandarizados</p>
        </aside>
        <nav>
            <ul class="space-y-4">
                <li>
                    <a href="{{url_for('static',path='umiiba.jpg')}}" class="flex items-center gap-3 link link-hover">
                        <img height="30" src="{{url_for('static',path='umiiba.png')}}" alt="UMIIBA">
                        <span>UMIIBA</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.psicologia.unam.mx/" class="flex items-center gap-3 link link-hover">
                        <img height="30" src="{{url_for('static',path='psicología.png')}}" alt="Facultad de Psicología">
                        <span>Facultad de Psicología</span>
                    </a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="space-y-4">
                <li>
                    <a href="https://l52mas.gitlab.io/" class="flex items-center gap-3 link link-hover">
                        <img height="30" src="{{url_for('static',path='l52mas.png')}}" alt="Laboratorio L52+">
                        <span>Laboratorio L52+</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.iimas.unam.mx/" class="flex items-center gap-3 link link-hover">
                        <img height="30" src="{{url_for('static',path='iimas.png')}}" alt="IIMAS">
                        <span>IIMAS</span>
                    </a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="space-y-4">
                <li>
                    <a href="https://www.unam.mx/" class="flex items-center gap-3 link link-hover">
                        <img height="30" src="{{url_for('static',path='unam.png')}}" alt="UNAM">
                        <span>UNAM</span>
                    </a>
                </li>
                <li>
                    <a href="https://fundaciongonzalorioarronte.org/" class="flex items-center gap-3 link link-hover">
                        <img height="30" src="{{url_for('static',path='rio_arronte.png')}}" alt="Fundación Río Arronte">
                        <span>Fundación Río Arronte</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
